<a name="comment-<%=ec.id %>"></a>
<div class="row">
<div class="comment_display_box" id="comment_content-<%= ec.id %>">
	<div class="comment_intro">
		<strong><%= ec.user.name %></strong> <span class="small intro_meta">on <%= ec.created_at.to_date.to_formatted_s(:long)  %></span>
	</div>
	
	<div class="comment_content">
		<%= raw(ec.content) %>
	</div>

	<% if ec.user == current_user %>
		<div class="comment_footer small">
			<% link_self_url = '#comment-' + ec.id.to_s %>
			You can 
			
			<%= form_for ec, url: edit_account_comment_path(@project.account, ec), method: :get, remote: true, html: {class: "form", id: "inline_edit_link"} do |f| %>
				<%= f.submit "edit", class: "btn btn-link", id: "show_edit_comment_form_link" %> 
			<% end %>
			
			this comment, or <%= link_to 'delete', account_comment_path(@project.account, ec), method: :delete, remote: true %> it.
		</div>	
		
	<% end %>
	
</div>


<div class="comment_display_box starts_hidden" id="edit_comment_content-<%= ec.id %>">
	
	
	
</div>


</div>