<p style="color: #666666; font-size: 85%;">--- REPLY ABOVE THIS LINE TO RESPOND IN RAISIN ---</p>

<p>Hey <%= @to_user_name %>,</p>

<p><%= @from_user_name %> added a conversation on the <%= link_to @conversation.project.title, account_project_url(@conversation.project.account, @conversation.project) %> project in Raisin:</p>

--------------

<%= raw(@conversation.content) %>

--------------

<p>You can reply to this email to add a comment in Raisin, and it will also be emailed as a response. You can also <%= link_to "visit the conversation on Raisin", @url_to_conversation %> to comment or read it.</p>

<p>Cheers, <br />
	Raisin Dispatch</p>
	
