<p style="color: #666666; font-size: 85%;">--- REPLY ABOVE THIS LINE TO RESPOND IN RAISIN ---</p>

<p>Hey <%= @to_user_name %>,</p>

<p><%= @from_user_name %> added a comment to the <%= link_to @conversation.title, @url_to_conversation %> conversation in Raisin:</p>

<blockquote>

<%= raw(@comment.content) %>

</blockquote>

<p>You can reply to this email to add a comment in Raisin, and it will also be emailed as a response. You can also <%= link_to "visit the conversation on Raisin", @url_to_conversation %>.</p>

<p>Cheers, <br />
	Raisin Dispatch</p>
	
