<h3 class="member_headline col-md-offset-2">Your personal information </h3>

<div class="row">
<div class="new_member_page_box col-md-8 col-md-offset-2">
	
	<%= form_for(@user, html: { method: :put, class: "form form-horizontal" }) do |f| %>

	
	  <div class="form-group">
	    <%= f.label :name, "Your full name", class: "col-sm-2 control-label" %>
	    <div class="col-sm-6">
				<%= f.text_field :name, class: "form-control" %>
			</div>
	  </div>

	  <div class="form-group">
	    <%= f.label :email, "Your email address", class: "col-sm-2 control-label" %>
	    <div class="col-sm-6">
				<%= f.email_field :email, class: "form-control" %>
			</div>
	  </div>
	
		<div class="form-group">
			<%= f.label :time_zone, "Your time zone", class: "col-sm-2 control-label" %>
	    <div class="col-sm-6">
				<%= f.time_zone_select( :time_zone, nil, {default: "Pacific Time (US & Canada)"}, {class: "form-control"}) %>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2"></label>
	    <div class="col-sm-6">
				<%= link_to "I want to update my password.", edit_user_registration_path %>
			</div>
	  </div>

		<div class="form-group">
			<label class="control-label col-sm-2"></label>
			<div class="col-sm-6">
				<%= link_to "Connect Raisin to my Facebook account", user_omniauth_authorize_path(:facebook) %>
			</div>	
		</div>	

	  <div class="form-group">
			<label class="control-label col-sm-2"></label>
	    <%= f.submit "Update my info", class: "btn btn-default" %>
	  </div>
	<% end %>

	<h4>Cancel your user profile</h4>

	<p>If you're totally unhappy, you can cancel your account. This is irreversible.</p>
	
	<p class="">
		<li>If you are the <u>only</u> user in a Family account, this will also cancel the account subscription.</li> 
		<li class="text-warning">If you are <u>not</u> the only user, this <em>will not cancel your family account or credit card payment</em>.</li> 
		<li>If you want to stop paying for Raisin, you can cancel your subscription <%= link_to "here", edit_subscription_path() %>.</li></p> 
	
	<%= button_to "Cancel my account", registration_path(@user), class: "btn btn-default", data: { confirm: "Are you sure?" }, method: :delete %>

	<%= link_to "Back", :back %>

</div>
</div>
