<div class="project_page">

	<% if @garage %>
		<p class="garage_notice">
			This project has been stashed in the garage! That means it's frozen in time unless you choose to make it active in the project settings below, after which it will appear in your dashboard again.
		</p>
	<% end %>

	<div class="project_page_top">
		
		<div id="page_top_collab_invite">
			<% if @project.users.first == current_user %>
				<% if @project.removable != "no" %>
					<% if !@garage %>
						<span class="invite_new_collaborator_link">
						<%= link_to "Invite a new collaborator", new_account_member_path(@account, project: @project.id) %>
						</span>
					<% end %>
				<% end %>
			<% end %>
		</div>
	
		<%= render 'projects/project_headline' %>
		
	</div>	

	

	<h4 class="todo_header">To-do lists</h4>
	<div id="project_todo_section">
	
		<div id="show_new_todo_form_link_box">
			<%= render '/lists/new_todo_list_button', locals: {lists: @list, project: @project, account: @account} %>
		</div>
	
		<div id="new_todo_form">

		</div> 
	
	</div>	<!-- end todo section -->

	<div id="existing_project_todo_section">

			<%= render '/lists/existing_list', locals: {lists: @lists, project: @project} %>

	</div>
	
	<div class="completed_todos">
		<%= link_to "See completed to-dos for this project...", account_project_lists_completed_path(@account, @project) %>
	</div>

	<div class="project_mini_footer">
		<% if @project.removable != "no" %>
			<%= render 'project_mini_footer', locals: {account: @account, project: @project} %>
		<% end %>
	
	</div>

	<div class="family_mini_footer">
	
		<% if @project.removable == "no" %>
			<% if @project.users.first != current_user %>
				<div id="access_edit_family_member_project">
					<p class="help-block"><%= link_to "[ Show options ]", '#', id: "access_edit_family_member_project_link", remote: true, data: { family_member: "options_link" } %></p>
				</div>
	
	
					<div id="edit_family_member_project">
						<p><%= link_to "[ Hide this option ]", '#', id: "access_edit_family_member_project_link", remote: true, data: { family_options: "hide_options_link" } %></p>
						<p class="help-block">You can <%= link_to 'remove this person permanently', account_project_path(@account, @project), method: :delete, data: {confirm: 'Are you sure? This cannot be undone.'} %> from your family.</p>
					</div>
			<% end %>
		<% end %>
	</div>	

</div>