<p>Hello, <%= @name %></p>

<p><%= @from_name %> has added you to a project in Raisin called: <strong><%= @title %></strong>.</p> 

<blockquote>
	<%= @message %>
</blockquote>

<p>To collaborate on this project simply <%= link_to 'log in to your Raisin account', new_user_session_path %> and you'll find the project in your account dashboard.</p>

<p>Cheers,<br />
	- Jason Preston</p>