<div id="list_item_actionable-<%= @li.id %>" data-list-container="<%= @li.id.to_s %>">
	<%= form_for @li, url: account_project_list_item_path(@project.account, @project, @list, @li), method: :put, remote: true, html: {class: "form-inline"} do |f| %>
	<%= hidden_field_tag :action_to_take, "check_and_move" %>
	<div class="checkbox">
		<% id_string = "list_item" + @li.id.to_s %>
		<% if @li.status == "active" -%>
			<%= f.hidden_field :completed_by, value: current_user.id %>
		<% else -%>
			<%= f.hidden_field :completed_by, value: nil %>
		<% end -%>
		<label>
		<%= f.check_box :status, {id: id_string, class: "submittable", data: {checked: @li.id} }, "checked", "active" %>	

	  	<%= link_to @li.title, account_project_list_item_path(@project.account, @project, @list, @li), class: "todo_item-link" %>
			
			<% if @li.user %>
				<span class="todo_assigned_person_label">
					<%= @li.user.name %></a>
				</span>
			<% end %>	
			
			<% if @li.due %>
				<span class="todo_due_date_label">	
					<%= @li.due.to_date.to_formatted_s(:long) %>
				</span>	
			<% end %>
			
			<% if @li.comments.count > 0 %>
				<span class="todo_comment_count_link">	
					<a href="<%= account_project_list_item_path(@project.account, @project, @list, @li) %>">
						(<%= @li.comments.count %> <%= 'comment'.pluralize(@li.comments.count) %>)
					</a>
				</span>	
			<% end %>
			
			<% linkstring = '#list_item_actionable-' + @li.id.to_s -%>
			
			<%= link_to "Edit", "#{linkstring}", id: "show_edit_item_form_link",  data: { item_id: @li.id.to_s } %>

		</label>
	</div>
	<% end %>
</div>

<div class="row new_list_item_form_row starts_hidden" id="update_list_item_form-<%= @li.id %>">
	<%= form_for @li, url: account_project_list_item_path(@project.account, @project, @list, @li), method: :put, remote: true, html: {class: "form-inline"} do |f| %>
		<%= f.hidden_field :status, value: "active" %>
		<%= hidden_field_tag :action_to_take, "update" %>

			<div class="form-group col-sm-6">
			  	<%= f.text_field :title, class: "form-control input-sm", id: "todo_item_input", placeholder: "Add a to-do item" %>
			</div>	
				
			<div class="form-group">
				<%= f.select :user_id, options_for_select(@assignees, @li.user_id), {}, :class => "input-sm form-control assign_user_select" %>
			</div>		
			
			<div class="form-group">
				<%= f.date_field :due, class: "form-control input-sm date_picker_field", id: "todo_due_date_input" %>
			</div>
	
			<div class="form-group">
				<%= f.submit "Update", class: "btn btn-default right1em btn-sm" %>
			</div>
	<% end %>
	
	<div class="new_list_item_cancel_link">
		<% linkstring = '#list_item_actionable-' + @li.id.to_s -%>
		<%= link_to "Cancel my edits", "#{linkstring}", id: "cancel_edit_item_link", data: { item_id: @li.id.to_s } %> or
		<%= link_to 'Delete this item', account_project_list_item_path(@project.account, @project, @list, @li), method: :delete, remote: true %>.</p>
	</div>	
	
</div>

