<div id="list_item_inactive-<%= @li.id %>">
	<%= form_for @li, url: account_project_list_item_path(@project.account, @project, @list, @li), method: :put, remote: true, html: {class: "form-inline"} do |f| %>
	<%= f.hidden_field :status, value: "unchecking" %>
	<div class="checkbox">
		<% id_string = "list_item" + @li.id.to_s %>
		<% checked_status = true if @li.status == "checked" %>
		<label>
		<%= check_box_tag :item, "unchecked", checked_status, id: id_string, class: "submittable", data: {checked: @li.id} %>

			<% completer = User.find_by_id(@li.completed_by) %>
	  	<%= link_to @li.title, account_project_list_item_path(@project.account, @project, @list, @li), class: "completed_todo" %> <span class="text-muted"> ( Completed by <%= completer.name %> on <%= @li.updated_at.to_date.to_formatted_s(:long)%> ) </span>

		</label>
	</div>
	<% end %>
</div>