<div id="list_item_inactive-<%= @li.id %>">
	<%= form_for @li, url: account_project_list_item_path(@project.account, @project, @list, @li), method: :put, remote: true, html: {class: "form-inline"} do |f| %>
	<%= hidden_field_tag :action_to_take, "uncheck_and_move" %>
	<div class="checkbox">
		<% id_string = "list_item" + @li.id.to_s %>
		<% if @li.status == "active" -%>
			<%= f.hidden_field :completed_by, value: current_user.id %>
		<% else -%>
			<%= f.hidden_field :completed_by, value: nil %>
		<% end -%>
		<label>
		<%= f.check_box :status, {id: id_string, class: "submittable", data: {checked: @li.id} }, "checked", "active" %>

			<% completer = User.find_by_id(@li.completed_by) %>
	  	<%= link_to @li.title, account_project_list_item_path(@project.account, @project, @list, @li), class: "completed_todo" %> <span class="text-muted"> ( Completed by <%= completer.name %> on <%= @li.updated_at.to_date.to_formatted_s(:long)%> ) </span>

		</label>
	</div>
	<% end %>
</div>