<h3><%= @project.title %></h3>
<span class="invite_new_collaborator_link">
	<%= link_to "Go to the project page", account_project_path(@project.account, @project) %>
</span>
<div class="completed_page_top">
</div>

<div class="list_item_parent">
	From the list: <%= link_to @list.title, account_project_list_path(@project.account, @project, @list) %> &rarr;
</div>

<div class="item_page_show_todo" id="list_item_actionable_box-<%= @li.id %>">
	
	<%= render 'list_item_individual' %>
	
</div>


<section class="comments_section row">
<div class="col-md-8">	
	
	<h5 class="comments_section_header">
		Have a conversation about this to-do:
	</h5>
	<div id="comments_list">
		<% @existing_comments.each do |ec| %>
			<% if ec.user %>
				<div id="account_comment_container-<%= ec.id %>">
					<%= render partial: '/comments/comment_content_container', locals: {ec: ec} %>
				</div>
			<% end %>	
		<% end %>
	</div>	
	
	<div id="new_comment_form">
		<%= render partial: '/comments/new_comment_form' %>
	</div>
	
</div>	
</section>	
