<h3><%= @project.title %></h3>
<span class="invite_new_collaborator_link">
	<%= link_to "Go to the project page", account_project_path(@project.account, @project) %><br />
	<%= link_to "Go to the list page", account_project_list_path(@project.account, @project, @list) %>
</span>
<div class="completed_page_top">
</div>


<div class="item_page_show_todo" id="list_item_actionable_box-<%= @li.id %>">
	
	<%= render 'list_item_individual' %>
	
</div>

