<div class="member_page">

	<div class="member_page_top" id="top_content_container">
		<%= render 'member_page_top_content' %>
	</div>	

	

	<h4 class="todo_header">To-do's that mention "<%= @member.name.split[0] %>"</h4>


	<div id="existing_project_todo_section">

		<%= render '/users/user_assigned_todos_loop' %>

	</div>

	<div class="family_mini_footer">
	

				<div id="access_edit_family_member_project">
					<p class="help-block"><%= link_to "[ Show options ]", '#', id: "access_edit_family_member_project_link", remote: true, data: { family_member: "options_link" } %></p>
				</div>
	
	
					<div id="edit_family_member_project">
						<p><%= link_to "[ Hide this option ]", '#', id: "access_edit_family_member_project_link", remote: true, data: { family_options: "hide_options_link" } %></p>
						<p class="help-block">You can <%= link_to 'remove this person permanently', account_member_path(@account, @member), method: :delete, data: {confirm: 'Are you sure? This cannot be undone.'} %> from your family.</p>
					</div>

	</div>	

</div>