<h1><%= @account.name %></h1>

<% if @family_members.count > 0 %>
	<h4>Family Members</h4>


	<% @family_members.each do |fm| %>
		<a class="" href="<%= account_project_path(@account, fm) %>">
			<span class="family_member_box">
				<div class="project_box_photo"><%= image_tag fm.users.first.photo %></div>
				<div class="project_box_title"><%= fm.title %></div>
				<div class="project_box_desc"><%= fm.description %></div>
			</span>
		</a>	
	<% end %>

	<a class="" href="<%= new_account_member_path(@account, type: "family") %>">
		<span class="family_member_box add_new_member">
			<div class="project_box_title">Add a new family member </div>
			<div class="project_box_desc new_member_desc">+</div>
		</span>
	</a>	


<% end %>

<h4>Projects</h4>

	<% @projects.each do |p| %>
		<a class="" href="<%= account_project_path(@account, p) %>">
			<div class="project_box">
				<div class="project_box_title"><%= p.title %></div>
				<div class="project_box_desc"><%= p.description %></div>
			</div>
		</a>
	<% end %>	
	
	<a class="" href="<%= new_account_project_path(@account) %>">
		<div class="project_box add_new_project">
			<div class="project_box_title">Create a new project </div>
			<div class="project_box_desc new_member_desc">+</div>
		</div>
	</a>
	