<h1><%= @account.name %></h1>

<% if @family_members %>
	<h4>Family Members</h4>

	<div class="family_member_projects_container">
	<% @family_members.each do |fm| %>
	
		<a class="" href="<%= account_member_path(@account, fm) %>">
			<span class="family_member_box">
				<% if fm.user %>
					<% if fm.user.photo != nil %>
						<% photo_url = fm.user.photo %>
					<% else %>
						<% photo_url = 'nophoto.png' %>
					<% end %>	
				<% else %>
					<% photo_url = 'nophoto.png' %>
				<% end %>
				<div class="project_box_photo"><%= image_tag photo_url %></div>
				<div class="project_box_title"><%= fm.name %></div>
			</span>
		</a>		
	<% end %>

	<a class="" href="<%= new_account_member_path(@account, type: "family") %>">
		<span class="family_member_box add_new_member">
			<div class="project_box_title">Add a new family member </div>
			<div class="project_box_desc new_member_desc">+</div>
		</span>
	</a>	

	</div>

<% end %>

<section class="projects_list">
	<span id="sort_projects">
		Sort: <%= link_to 'When projects were created', account_createdorder_path(@account), remote: true %> or
		<%= link_to 'alphabetically', account_alphabetical_path(@account), remote: true %>
	</span>

	<h4>Projects</h4>

	<div class="row" id="active_projects_loop_div">

		<%= render 'active_projects_loop' %>

	</div>	
	
</section>	
	
	<% if @inactive_count > 0 %>
		<div class="inactive_projects">
			And <a href="<%= account_project_archive_path(@account) %>">
				<%= @inactive_count %> more <%= ' project'.pluralize(@inactive_count) %> in the garage... 
			</a>
		</div>	
	<% end %>
	