<h2>Update my password</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form" }) do |f| %>
  <%= devise_error_messages! %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <div class="control-label">
			<%= f.label :password %>
			<p class="help-block"><i>(Leave this field blank to keep the same password!)</i></p>
		</div>
    <div class="controls"><%= f.password_field :password, autocomplete: "off" %></div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <div class="controls"><%= f.password_field :password_confirmation, autocomplete: "off" %></div>
  </div>

  <div class="form-group">
		<div class="control-label">
    	<%= f.label :current_password %> 
			<p class="help-block"><i>(This is the password I just logged in with -- to make sure the change is on purpose.)</i></p>
		</div>
    <div class="controls"><%= f.password_field :current_password, autocomplete: "off" %></div>
  </div>

  <div class="form-group">
    <%= f.submit "Update", class: "btn" %>
  </div>
<% end %>


<%= link_to "Back", :back %>
